/* プライバシーポリシー */

.policy {
  margin: 80px auto;
  color: var(--smoke);
  font-size: 14px;
  line-height: 2;
}
@media (min-width: 950px) {
  .policy {
    display: flex;
    gap: 50px;
  }
}

.policy .index {
  display: none;
}
@media (min-width: 950px) {
  .policy .index {
    display: block;
    flex: 0 0 250px;
  }
}

.policy h2 {
  margin: 70px 0 25px;
  font-size: 18px;
  font-family: serif;
  font-weight: 400;
  color: var(--bone);
  line-height: 1.8;
}

.policy h4 {
  color: var(--bone);
}

.policy .lead {
  color: var(--bone);
}

.policy ol {
  padding-left: 1em;
  color: var(--smoke);
}
.policy ol li {
  padding-left: 1em;
  padding-top: .9em;
}
.policy ol li::marker {
  color: var(--bone);
}
